/* .outerLogIn{
    background-image: url("https://oir.mobi/uploads/posts/2021-03/1616553332_33-p-fon-dlya-prezentatsii-odnotonnii-svetlii-35.jpg");
    width: 400px;
    height: 550px; 
    outline: auto;
    display: grid;
    margin: 0 auto;
    padding: 15px;
    margin-top: 100px;


}



.checkBoxInner{
    margin-left: 10px;
}


.posRightLink{
    padding-left: 50px;
}
.posRightLink:hover{
    color: darkblue;
}


.checkBoxAndLink{
    padding-top: 25px;
    padding-bottom: 20px;
}

.image{
    height: 100px;
    width: 100px; 
      
}
.topImage{
    padding-top: 25px;
    padding-bottom: 50px;
}

.label{
    font-family: Comic Sans MS, Comic Sans, cursive
}

.btn {
    width: 200px
}


.headBegin{
    color: deeppink;
    font-family: Comic Sans MS, Comic Sans, cursive
}

.headEnd{
    color: darkmagenta;
}

.innerBtn{
    padding-top: 25px;
}



.button {
    border-radius: 4px;
    background-color: #f03329;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 55px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }





 */
