.nav {
    position: absolute;
    display: flex;
    height: 100%;
    width: 90px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    border-right: groove;
    border-color: black;
    transition: 0.5s;
}

.img {
    height: 100%;
    width: 100%;
}

.nav-btn {
    width: auto;
    height: 35px;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.nav-item {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    width: 100%;
}

.mb-10 {
 margin-bottom: 35px;
}

.mt-10 {
    margin-top: 35px;
}

.nav.active {
    width: 180px;
    position: absolute; 
}

.settbtn {
    display: flex;
    padding: 0;
    border: 0;
    background-color:white;
}

.hidden{
    display: none !important;
}

p {
    margin: unset !important;

}

.text {
    font-size: 15px;
}