a {
    text-decoration: none;
}


.outer{
    width: 400px;
    height: 500px; 
    outline: auto;
    display: grid;
    margin: 0 auto;
    padding: 15px;
    margin-top: 100px;

}

.outerForm{
    margin-top: 150px;
}

.checkBoxInner{
    margin-left: 10px;
}

.ListGroupItem{
    padding-left: 5px;
}

.posRightLink{
    padding-left: 80px;
}

.checkBoxAndLink{
    padding-top: 25px;
    padding-bottom: 20px;
}



